**/*.svg
package.json
.umi
.umi-production
/dist
/.yarn
.dockerignore
.DS_Store
.eslintignore
.yarnrc
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
MODEL
node_modules/
